.monthContainer{
	height: 100%;
}
.month{
	font-size: 0;
	height: 90%;
	width: 100%;
	float: left;
}
.month > *{
	font-size: 1rem;
}
a.monthNav {
    height: 100%;
    display: inline-block;
    width: 5%;
    word-wrap: break-word;
    float: left;
}
.monthCenter{
	width: 90%;
	height: 90%;
	float: left;
}
.monthTitle{
	width: 90%;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	height: 10%;
	float: left;
}